@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  color-scheme: light;
  @apply bg-light-background-primary text-light-foreground-primary;
}

.dark {
  color-scheme: dark;
  @apply bg-dark-background-primary text-dark-foreground-primary;
}

a {
  @apply font-medium text-light-primary-500 dark:text-dark-primary-500 no-underline;
  @apply hover:text-light-primary-600 dark:hover:text-dark-primary-400;
}

body {
  @apply m-0 flex place-items-center min-w-[320px] min-h-screen;
  @apply bg-light-background-primary dark:bg-dark-background-primary;
  @apply text-light-foreground-primary dark:text-dark-foreground-primary;
}

h1 {
  @apply text-5xl leading-tight;
}

button {
  @apply rounded-lg border border-transparent px-5 py-2.5;
  @apply text-base font-medium cursor-pointer;
  font-family: inherit;
  @apply bg-light-background-secondary dark:bg-dark-background-secondary;
  @apply hover:border-light-primary-500 dark:hover:border-dark-primary-500;
  @apply focus:outline-none focus:ring-4 focus:ring-light-primary-300 dark:focus:ring-dark-primary-700;
  @apply transition-all duration-200;
}


.main-content {
  @apply flex-1 p-5;
}
